// --------------------------------------------------------------
// Control buttons
// --------------------------------------------------------------

.plyr__control {
    background: transparent;
    border: 0;
    border-radius: $plyr-control-radius;
    color: inherit;
    cursor: pointer;
    flex-shrink: 0;
    overflow: visible; // IE11
    padding: $plyr-control-padding;
    position: relative;
    transition: all 0.3s ease;

    svg {
        display: block;
        fill: currentColor;
        height: $plyr-control-icon-size;
        pointer-events: none;
        width: $plyr-control-icon-size;
    }

    // Default focus
    &:focus {
        outline: 0;
    }

    // Tab focus
    &.plyr__tab-focus {
        @include plyr-tab-focus();
    }
}

// Remove any link styling
a.plyr__control {
    text-decoration: none;

    &::after,
    &::before {
        display: none;
    }
}

// Change icons on state change
.plyr__control:not(.plyr__control--pressed) .icon--pressed,
.plyr__control.plyr__control--pressed .icon--not-pressed,
.plyr__control:not(.plyr__control--pressed) .label--pressed,
.plyr__control.plyr__control--pressed .label--not-pressed {
    display: none;
}

// Audio control
.plyr--audio .plyr__control {
    &.plyr__tab-focus,
    &:hover,
    &[aria-expanded='true'] {
        background: $plyr-audio-control-bg-hover;
        color: $plyr-audio-control-color-hover;
    }
}

// Video control
.plyr--video .plyr__control {
    // Hover and tab focus
    &.plyr__tab-focus,
    &:hover,
    &[aria-expanded='true'] {
        background: $plyr-video-control-bg-hover;
        color: $plyr-video-control-color-hover;
    }
}

// Large play button (video only)
.plyr__control--overlaid {
    background: rgba($plyr-video-control-bg-hover, 0.8);
    border: 0;
    border-radius: 100%;
    color: $plyr-video-control-color;
    display: none;
    left: 50%;
    padding: ceil($plyr-control-spacing * 1.5);
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;

    // Offset icon to make the play button look right
    svg {
        left: 2px;
        position: relative;
    }

    &:hover,
    &:focus {
        background: $plyr-video-control-bg-hover;
    }
}

// Large skip button (video only)
.plyr__skip__control--overlaid {
    background: rgba(0, 0, 0, 0.32);
    border: 1px solid white;
    border-radius: 0;
    color: white;
    right: -1px;
    padding: ceil($plyr-control-spacing * 0.8) ceil($plyr-control-spacing * 1.6);
    position: absolute;
    bottom: 64px;
    z-index: 3;
    opacity: 0.64;
    display: flex;
    align-items: center;

    // Offset icon to make the play button look right
    svg {
        left: 2px;
        margin-left: 4px;
        position: relative;
        display: flex;
    }

    &:hover,
    &:focus {
        opacity: 1;
        // background: $plyr-video-control-bg-hover;
    }
}

// Large close button (video only)
.plyr__close__control--overlaid {
    background: rgba(0, 0, 0, 0.48);
    border: 0;
    border-radius: 100%;
    color: $plyr-video-control-color;
    top: 8px;
    right: 8px;
    position: absolute;
    padding: ceil($plyr-control-spacing * 0.8) ceil($plyr-control-spacing * 0.8);
    z-index: 3;

    // Offset icon to make the play button look right
    svg {
        position: relative;
    }

    &:hover,
    &:focus {
        opacity: 1;
        // background: $plyr-video-control-bg-hover;
    }
}

.plyr__buffer__loader_container {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.48);
    transition: all .3s ease;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

// Buffer Loader (video only)
.plyr__buffer__loader {
    border: 0;
    border-radius: 100%;
    color: $plyr-video-control-color;
    left: calc(50% - 4em);
    top: calc(50% - 4em);
    z-index: 2;

    width: 8em;
    height: 8em;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(255, 255, 255, 0.2);
    border-right: 1.1em solid rgba(255, 255, 255, 0.2);
    border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
    border-left: 1.1em solid #ffffff;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.2s infinite linear;
    animation: load8 1.2s infinite linear;
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.plyr--playing .plyr__control--overlaid {
    opacity: 0;
    visibility: hidden;
}

.plyr--full-ui.plyr--video .plyr__control--overlaid {
    display: block;
}

.plyr--video.plyr--hide-controls .plyr__skip__control--overlaid,
.plyr--video.plyr--hide-controls .plyr__close__control--overlaid {
    opacity: 0;
    pointer-events: none;
}

.plyr--video.plyr--html5.plyr--loading.plyr--playing .plyr__buffer__loader_container {
    // opacity: 1;
    pointer-events: none;
    display: block;
}
